////
/// @group Component mixins
/// @author SEB Design Library
////
@import "../../variables";
@import "../../utilities";
@import "node_modules/include-media/dist/include-media";
@import "../../mixins";
@import "modal-animations";

///
/// @access public
@mixin vanilla-takeover() {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  visibility: hidden;
  transition: visibility 0s 0.6s;
  box-sizing: border-box;

  @include vanilla-modal-header();

  @include vanilla-modal-animation(
    $_selector: &,
    $_backdrop-animation: "unfold",
    $_container-animation: "zoom"
  );
  &__container {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: #fff;
    z-index: 1;
    transition: transform 0.3s ease-in-out;

    @include media("<=tablet") {
      width: 100%;
    }
  }
  &__content {
    padding: 2rem;
  }
}
